/* Header */
#header {
	margin: 0 auto;
	line-height: 0.5;
	margin-bottom: 30px;
}
/* Settings */
div.size-left {
	display:inline-block;
	vertical-align: top;
}

div.colour-right {
	display: inline-block;
	vertical-align: top;
	padding-left: 40px;
}

/* Canvas */
div.canvas {
	width: 960px;
	margin: 0 auto;
	
}

div.row {
	text-align: center;
}

div.sketch {
	margin: 0;
	display: inline-block;
	background-color: #F0F0F0;
	width: 20px;
	height: 20px;
	vertical-align: top;
}
